master.project/resources/rezept.dtd

<!ELEMENT root (tools, ingredients, cookingActions, partIndicators, lastSentenceReferences)>
<!ELEMENT tools (Tool)*>
<!ELEMENT Tool (Name)*>
<!ATTLIST Tool
	name CDATA #REQUIRED
>
<!ELEMENT ingredients (Ingredient)*>
<!ELEMENT Ingredient (Name | Property)*>
<!ATTLIST Ingredient
	name CDATA #REQUIRED
>
<!ELEMENT Property (#PCDATA)>
<!ELEMENT cookingActions (CookingAction)*>
<!ELEMENT CookingAction (Name*, Result?, regs?, transformations?)>
<!ATTLIST CookingAction
	name CDATA #REQUIRED
>
<!ELEMENT transformations (Transformation*)>
<!ELEMENT Transformation (ingredients?, (AddIngredientTag | AddQuantifierTag | Ingredient)?)>
<!ELEMENT AddIngredientTag (#PCDATA)>
<!ELEMENT AddQuantifierTag (#PCDATA)>
<!ELEMENT Result (#PCDATA)>
<!ELEMENT regs (Regex+)>
<!ELEMENT Regex (#PCDATA)>
<!ATTLIST Regex
	result (first|last|all) "first"
>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT partIndicators (PartIndicator)*>
<!ELEMENT PartIndicator (#PCDATA)>
<!ELEMENT lastSentenceReferences (LastSentenceReference)*>
<!ELEMENT LastSentenceReference (#PCDATA)>